<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign in</title>
  <link rel="shortcut icon" type="image/png" href="/logo.jpg"/>
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- header ends here -->
  <div class="loginbox radius">
    <div class="loginform">
      <form id="login" action="/signin" method="POST">
        <%if (data && data.error) {%>
          <div id="signinerror" class="alert alert-danger">
            <%=data.error%>
          </div>
          <%}%>
            <div class="loginboxinner radius">
              <!--loginheader-->
              <div class="wrapper">
                <div class="logo">
                  <a href="/" onclick="home()">
                    <script>
                      function home() {
                        window.location.assign('/')
                      }
                    </script>
                    <img src="/logo.jpg" alt="">
                  </a>
                </div>
                <div class="text-center mt-4 name">
                  Đăng nhập
                </div>
                <form class="p-3 mt-3">
                  <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="username" id="userName" placeholder="Username">
                  </div>
                  <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="password" name="passwords" id="pwd" placeholder="Password">
                  </div>
                  <button class="btn mt-3" name="signin">Đăng nhập</button>
                </form>
                <div class="text-center fs-6">
                  <a href="#" onclick="signup()">Đăng kí</a>
                </div>
              </div>
              <script>
                function signup() {
                  window.location.assign('/signup')
                }  
              </script>
      </form>
    </div>
  </div>
  </div>
  <script src="https://fb.me/react-15.1.0.js"></script>
  <script src="https://fb.me/react-dom-15.1.0.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script type="text/jsx" src="dangnhap.js"></script>
</body>